<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert Multiline String to JSON value</title>
</head>
<body>
    <div id="app">
        <h3>Normal</h3>
        <textarea rows="20" cols="150" v-model="text" @keyUp="textChanged($event.target.value)"></textarea>
        <h3>JSON Value</h3>
        <textarea rows="1" cols="150" v-model="json_text" @keyUp="jsonChanged($event.target.value)"></textarea>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var app = new Vue({
      el: '#app',
      data: {
        text: '',
        json_text: ''
      },
      computed: {

      },
      methods: {
        jsonChanged(val) {
          console.log(val);
          let temp = val.replace(/\\n/g, '\n');
          temp = temp.replace(/\\"/g,'"');
          this.text = temp;
        },
        textChanged(val) {
          let temp = val.replace(/(\n|\r\n)/g, '\\n');
          temp = temp.replace(/"/g,'\\"');
          this.json_text = temp.trim();
        }
      }
    })
</script>
</html>